In [1]:
import pandas as pd
import numpy as np

### Reading CSV file

In [2]:
df = pd.read_csv('country_dataset.csv')

### shape

In [3]:
df.shape

(34, 4)

In [4]:
 from	sklearn.impute	import	SimpleImputer

### Filling missing data using strategies like 'mean'

In [5]:
 simple	=	SimpleImputer(missing_values=	np.nan,	strategy=	'mean')

In [6]:
df = simple.fit_transform(df)

ValueError: Cannot use mean strategy with non-numeric data:
could not convert string to float: 'India'

In [7]:
 df['Country'].unique()

array(['India', 'France', 'Germany'], dtype=object)

In [8]:
 df['Purchase'].unique()

array(['No', 'Yes'], dtype=object)

### LabelEncoder

In [9]:
 from	sklearn.preprocessing	import	LabelEncoder

In [10]:
encoder=	LabelEncoder()

In [11]:
df_encoded=df

In [12]:
df_encoded['Country']=	encoder.fit_transform(df['Country'])

In [13]:
df_encoded['Purchase']=	encoder.fit_transform(df['Purchase'])

In [14]:
df_encoded

    Country   Age   Salary  Purchase
0         2  38.0  48000.0         0
1         2  38.0  48000.0         1
2         2  38.0  48000.0         0
3         2  35.0  58000.0         0
4         2  35.0  58000.0         1
5         2  35.0  58000.0         0
6         2  50.0  88000.0         0
7         2  50.0  88000.0         1
8         2  50.0  88000.0         0
9         0  43.0  45000.0         1
10        0  43.0  45000.0         0
11        0  43.0  45000.0         1
12        0  43.0  45000.0         1
13        0  48.0  65000.0         1
14        0  48.0  65000.0         0
15        0  48.0  65000.0         1
16        0  48.0  65000.0         1
17        0  49.0  79000.0         1
18        0  49.0  79000.0         0
19        0  49.0  79000.0         1
20        0  49.0  79000.0         1
21        0  37.0  77000.0         1
22        0  37.0  77000.0         0
23        0  37.0  77000.0         1
24        0  37.0  77000.0         1
25        1  30.0  54000.0         0
26        1  30.0  54000.0         1
27        1  30.0  54000.0         0
28        1  40.0      NaN         0
29        1  40.0      NaN         1
30        1  40.0      NaN         0
31        1   NaN  53000.0         0
32        1   NaN  53000.0         1
33        1   NaN  53000.0         0

In [15]:
 simple	=	SimpleImputer(missing_values=	np.nan,	strategy=	'mean')

In [16]:
df=simple.fit_transform(df)

### DataFrame

In [17]:
 df_encoded=pd.DataFrame(df_encoded)

In [18]:
df=pd.DataFrame(df)

### Describe

In [19]:
df.describe()

               0          1             2          3
count  34.000000  34.000000     34.000000  34.000000
mean    0.794118  41.516129  63451.612903   0.529412
std     0.844928   6.198098  13796.878676   0.506640
min     0.000000  30.000000  45000.000000   0.000000
25%     0.000000  37.000000  53000.000000   0.000000
50%     1.000000  41.516129  63451.612903   1.000000
75%     1.750000  48.000000  77000.000000   1.000000
max     2.000000  50.000000  88000.000000   1.000000

In [21]:
X=df_encoded.iloc[	:	,	0:3]
Y=df_encoded.iloc[	:	,	3:]

### MinMaxScaler

In [22]:
from	sklearn.preprocessing	import	MinMaxScaler

In [23]:
scaler=	MinMaxScaler()

In [24]:
x_scaler=	scaler.fit_transform(X)

In [25]:
X

    Country   Age   Salary
0         2  38.0  48000.0
1         2  38.0  48000.0
2         2  38.0  48000.0
3         2  35.0  58000.0
4         2  35.0  58000.0
5         2  35.0  58000.0
6         2  50.0  88000.0
7         2  50.0  88000.0
8         2  50.0  88000.0
9         0  43.0  45000.0
10        0  43.0  45000.0
11        0  43.0  45000.0
12        0  43.0  45000.0
13        0  48.0  65000.0
14        0  48.0  65000.0
15        0  48.0  65000.0
16        0  48.0  65000.0
17        0  49.0  79000.0
18        0  49.0  79000.0
19        0  49.0  79000.0
20        0  49.0  79000.0
21        0  37.0  77000.0
22        0  37.0  77000.0
23        0  37.0  77000.0
24        0  37.0  77000.0
25        1  30.0  54000.0
26        1  30.0  54000.0
27        1  30.0  54000.0
28        1  40.0      NaN
29        1  40.0      NaN
30        1  40.0      NaN
31        1   NaN  53000.0
32        1   NaN  53000.0
33        1   NaN  53000.0

### StandardScaler

In [26]:
from sklearn.preprocessing	import	StandardScaler

In [27]:
std_scaler=	StandardScaler()

In [28]:
 x_std_scaler=	std_scaler.fit_transform(X)

In [29]:
x_std_scaler

array([[ 1.44866377, -0.54983227, -1.08546757],
       [ 1.44866377, -0.54983227, -1.08546757],
       [ 1.44866377, -0.54983227, -1.08546757],
       [ 1.44866377, -1.01895521, -0.3829729 ],
       [ 1.44866377, -1.01895521, -0.3829729 ],
       [ 1.44866377, -1.01895521, -0.3829729 ],
       [ 1.44866377,  1.32665951,  1.7245111 ],
       [ 1.44866377,  1.32665951,  1.7245111 ],
       [ 1.44866377,  1.32665951,  1.7245111 ],
       [-0.95399809,  0.23203931, -1.29621597],
       [-0.95399809,  0.23203931, -1.29621597],
       [-0.95399809,  0.23203931, -1.29621597],
       [-0.95399809,  0.23203931, -1.29621597],
       [-0.95399809,  1.01391088,  0.10877337],
       [-0.95399809,  1.01391088,  0.10877337],
       [-0.95399809,  1.01391088,  0.10877337],
       [-0.95399809,  1.01391088,  0.10877337],
       [-0.95399809,  1.17028519,  1.0922659 ],
       [-0.95399809,  1.17028519,  1.0922659 ],
       [-0.95399809,  1.17028519,  1.0922659 ],
       [-0.95399809,  1.17028519,  1.0922659 ],
       [-0.95399809, -0.70620658,  0.95176697],
       [-0.95399809, -0.70620658,  0.95176697],
       [-0.95399809, -0.70620658,  0.95176697],
       [-0.95399809, -0.70620658,  0.95176697],
       [ 0.24733284, -1.80082678, -0.66397077],
       [ 0.24733284, -1.80082678, -0.66397077],
       [ 0.24733284, -1.80082678, -0.66397077],
       [ 0.24733284, -0.23708364,         nan],
       [ 0.24733284, -0.23708364,         nan],
       [ 0.24733284, -0.23708364,         nan],
       [ 0.24733284,         nan, -0.73422023],
       [ 0.24733284,         nan, -0.73422023],
       [ 0.24733284,         nan, -0.73422023]])

### Train_test_split

In [31]:
 from	sklearn.model_selection	import	train_test_split
 X_train,	X_test,	Y_train,	Y_test	=	train_test_split(X,	Y,	test_size=0.3,	random_state=2)

In [32]:
 X_train.shape

(23, 3)

In [33]:
 X_test.shape

(11, 3)